<!--
  Generated template for the Upload page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Upload New File</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- Select file -->

  <!-- Select users -->
  <h2>To Users:</h2>
  <ion-list no-lines>
    <h2 ion-item *ngFor="let user of selectedUsers">
      {{ user.name }}
    </h2>
  </ion-list>
  <button ion-button block (click)="selectUsers()">Select Users</button>

  <!-- Select auth layers-->
  <h2>Authentication Layers:</h2>
  <ion-list>
      <ion-item *ngFor="let layer of authLayers">
        <ion-label>{{layer.authMethod}}</ion-label>
        <ion-checkbox [(ngModel)]="layer.activated"></ion-checkbox>
      </ion-item>
  </ion-list>

  <!-- Send Message -->
  <button ion-button block (click)="sendMessage()">Send Message</button>


</ion-content>
