<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Unlock</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-title style="color:white; padding-left:10px">
      File: thisMusicSucks.omg
    </ion-card-title>
  </ion-card>
  <ion-card>
    <button ion-item (click)="authenticateFP()">
      <ion-icon [name]="gpsIcon" [class.valid]="user.gps" [class.invalid]="!user.gps"></ion-icon>
      <ion-icon [name]="fpIcon" [class.valid]="user.fp" [class.invalid]="!user.fp"></ion-icon>
      <div class="item-note" item-right>
        {{user.userid}}
        <button ion-button right>
          <ion-icon [name]="keyIcon" ></ion-icon>&nbsp;Authenticate
        </button>
      </div>
    </button>
  </ion-card>
  <ion-card *ngFor="let contact of authenticatedContacts" >
    <button ion-item >
      <ion-icon [name]="checkmark" class=""></ion-icon>

      <div class="item-note" item-right>
        {{contact.userid}}
      </div>
    </button>
  </ion-card>
  <ion-card *ngFor="let contact of contacts" >
    <button ion-item>
      <!--<ion-icon [name]="item.icon" item-left></ion-icon>-->
      <ion-icon [name]="gpsIcon" [class.valid]="contact.gps" [class.invalid]="!contact.gps"></ion-icon>
      <ion-icon [name]="fpIcon" [class.valid]="contact.fp" [class.invalid]="!contact.fp"></ion-icon>
      <div class="item-note" item-right>
        {{contact.userid}}
      </div>
    </button>
  </ion-card>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
  <button ion-button full (click)="checkStatus()" style="position: absolute; bottom: 0px;">
    <ion-icon [name]="keyIcon" ></ion-icon>
  </button>

  <h1>Latitude = {{gpsLocation_latitude}}</h1>
  <h1>Longitude = {{gpsLocation_longitude}}</h1>

  <!-- <img src="{{urlGif}}" (click)="changeGif()"> -->
</ion-content>
